@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: playfair;
  src: url("./fonts/static/PlayfairDisplay-Medium.ttf");

  font-family: anton;
  src: url("./fonts/anton/Anton-Regular.ttf");
}

.brand {
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
  padding-block: 0;
  padding-right: 0.2rem;
  border-right: solid black 2px;
  animation: textwriter 1s steps(11), caret 0.5s step-end infinite alternate;
}

@keyframes textwriter {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes caret {
  50% {
    border-right: transparent;
  }
}

.nav-links {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.under-link {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.nav-links:hover .under-link {
  transform: scaleX(1);
}

.brand-container:hover img {
  animation-name: surprise;
  -webkit-animation-name: surprise;
  -moz-animation-name: surprise;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

@keyframes surprise {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }
  10% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  20% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  30% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  40% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  50% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  60% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  70% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  80% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  90% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}

.home,
.about,
.projects,
.contact {
  scroll-margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}

.contact > div {
  min-height: calc(100vh - 4rem);
}

html {
  scroll-behavior: smooth;
}

.dark {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(#000000, #0e4983e7, #010101);
}

.light {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(#4d57e4, #ffffffe0, #4d57e4);
}

.mario {
  background-image: url("/src/assets/back.jpeg");
  background-clip: text;
  font-size: 16vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  animation: move-background 30s ease-out infinite;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.mario-dark {
  mix-blend-mode: screen;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

@keyframes move-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.hero-back {
  background-image: url("/src/assets/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  background-color: black;
}

.social-media-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.social-media {
  cursor: pointer;
  font-size: 2rem;
  padding-block: 0;
}

.linkedin {
  font-size: 2.5rem;
}

.projects-container {
  max-width: 100%;
}

.project-img {
  height: 100%;
  width: auto;
  padding: 1rem;
  border-radius: 2rem;
}

.project-img-container {
  width: 75%;
}

.project-description {
  width: 75%;
  padding: 0;
}

.project {
  margin-block: 1rem;
  max-width: 100%;
}

.code-icon {
  stroke-width: 0.2px;
}

.skill-logos {
  height: 50px;
  width: 50px;
  background-image: radial-gradient(#ffffff, 80%, #000000);
  background-image: radial-gradient(transparent, 80%, #ffffff);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.skill-logos img {
  object-fit: cover;
  width: 100%;
}

.typescript-logo {
  padding: 0.4rem;
}

.mysql-logo {
  padding: 0.4rem;
}

.header-texts {
  font-size: 3rem;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
    0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
    0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}

.link-mobile {
  display: block;
}

.link-desktop {
  display: none;
}

.menu {
  position: absolute;
  display: none;
  right: 0;
  top: 4rem;
}

.menu.is-active {
  display: flex;
  background-color: #0e4983e7;
  border-radius: 1rem;
  border-top-right-radius: 0;
  padding: 1rem;
}

.hamburger {
  position: relative;
  background-color: transparent;
  right: 0;
  top: 0;
  padding: 10px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1000;
  cursor: pointer;
  user-select: none;
}

.layer {
  background: #333333;
  margin: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger.is-active .top {
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .mid {
  opacity: 0;
}
.hamburger.is-active .bottom {
  transform: translateY(-200%) rotate(135deg) !important;
}

.d-none {
  display: none;
}

@media screen and (min-width: 480px) {
  .skill-logos {
    height: 75px;
    width: 75px;
  }
  .project-description {
    width: 75%;
    padding: 2rem;
  }
  .project {
    margin-block: 2rem;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header-texts {
    font-size: 5rem;
  }
  .project-img-container {
    width: 50%;
  }
  .project-description {
    width: 50%;
    padding: 2rem;
  }
  .link-mobile {
    display: none;
  }
  .link-desktop {
    display: block;
  }
  .menu {
    position: static;
    display: flex;
  }
  .menu.is-active {
    display: flex;
    background-color: transparent;
  }
  .hamburger {
    display: none;
  }
  .d-none {
    display: block;
  }
}

.df-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  font-size: 2rem;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
    0 50px 30px rgba(0, 0, 0, 0.3);
}
