@tailwind base;
@tailwind components;
@tailwind utilities;

.brand {
  /* background-color: red; */
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
  padding-block: 0;
  padding-right: 0.2rem;
  border-right: solid black 2px;
  animation: textwriter 1s steps(11), caret 0.5s step-end infinite alternate;
}

@keyframes textwriter {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes caret {
  50% {
    border-right: transparent;
  }
}

.nav-links {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}

.nav-links::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: rgb(21, 7, 54);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.nav-links:hover::after {
  transform: scaleX(1);
}

.brand-container:hover img {
  animation-name: surprise;
  -webkit-animation-name: surprise;
  -moz-animation-name: surprise;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

@keyframes surprise {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }
  10% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  20% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  30% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  40% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  50% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  60% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  70% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  80% {
    transform: rotate(-7deg) scale(1.5, 1.5);
  }
  90% {
    transform: rotate(7deg) scale(1.5, 1.5);
  }
  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}

.home,
.about,
.projects,
.contact {
  scroll-margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}

html {
  scroll-behavior: smooth;
}

.dark {
  color: rgb(255, 255, 255);
  background-color: black;
}

.light {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.mario {
  background-image: url("/src/assets/back.jpeg");
  background-clip: text;
  /* text-transform: uppercase; */
  font-size: 16vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  animation: move-background 30s ease-out infinite;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.mario-dark {
  mix-blend-mode: darken;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

/* @keyframes move-background {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
 */

@keyframes move-background {
  0% {
    background-position: 0 0;
  }
  /* 50% {
    background-position: 0 100%;
  } */
  100% {
    background-position: 0 100%;
  }
}

.hero-back {
  background-image: url("/src/assets/back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  background-color: black;
}

.social-media-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.social-media {
  cursor: pointer;
  font-size: 2rem;
  padding-block: 0;
}

.linkedin {
  font-size: 2.5rem;
}

.project-img {
  height: 100%;
  width: auto;
  padding: 1rem;
  border-radius: 2rem;
}

.project-img-container {
  width: 50%;
}

.project-description {
  width: 50%;
  padding: 2rem;
}

.project {
  margin-block: 2rem;
}

.code-icon {
  stroke-width: 0.2px;
}

.skill-logos {
  height: 75px;
  width: 75px;
  background-image: radial-gradient(#ffffff, 80%, #000000);
  background-image: radial-gradient(transparent, 80%, #ffffff);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.skill-logos img {
  object-fit: cover;
  width: 100%;
}

.typescript-logo {
  padding: 0.4rem;
}

.mysql-logo {
  padding: 0.4rem;
}

.text-pop-up-top {
  font-size: 5rem;
  -webkit-animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.df-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}
